<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Employee Table</h4>
            <p class="card-category"> Employee Table Sub</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Department
                </th>
                <th>
                  Action
                </th>
                
                <tbody>

                  <tr *ngFor="let emp of employees">
                    <td>
                     <input type="checkbox" id="{{emp.name}}">
                    </td>
                    <td>
                      {{emp.name}}
                    </td>
                    <td>
                      {{emp.email}}
                    </td>
                    <td>
                     {{ emp.department}}
                    </td>

                    <td class="text-primary">
                      <button mat-raised-button class="btn btn-primary" type="button" (click)="editEmpClick(emp.empID)">Edit</button>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
